html,
body {
    height: 100%;
    margin: 0px;
}

body {
    background: linear-gradient(to bottom, #FFDB49, #F5C816);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

div {
    background-color: #33322D;
    color: white;
    height: 700px;
    width: 800px;

    border-radius: 0px 80px;

    text-align: center;
}

h1 {
    margin-top: -20px;
    text-transform: uppercase;
    font-style: bolder;
    color: white;
}

h2 {
    color: #8F8046;
    text-align: left;
    margin: 20px 50px 10px 50px;
    border-left: 2px solid white;
    padding-left: 10px;
}

p {
    color: #8F8046;
    text-align: left;
    margin: 0px 50px 10px 50px;
    padding-left: 10px;

}

span {
    display: inline-block;
    margin-top: 10px;

}

.logo {
    margin: 10px;
    padding: 10px;


}

.botao {
    margin: 2px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #33322D;
}

nav {
    background-color: #F5C816;
    margin: 24px auto;
    height: 42px;
    width: 326px;
    border-radius: 0px 5px 5px 5px;
    display: flex;


}

.inscrever {
    margin: 2px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #F5C816;
    color: rgba(255, 255, 255, 0.733);
    font-weight: bolder;
}

.t2 {
    margin: 30px 0px 10px 0px;
}

h3>a {
    text-align: left;
    margin: 20px 100px 10px 60px;
    color: #F5C816;
    text-decoration: none;
    display: block;
    width: 170px;


}

h3>a:hover {
    font-size: 20px;
    color: #816a0e;
}

footer>a {
    display: inline-block;
    margin-top: 50px;
    color: #969385;
}
